


/*-----------------------------------------------------------------------------------------------*/
.about{display: flex;}
.about__one {padding: 10px 20px ;
}
.about__two {padding: 10px 20px ;
}
.about__three {padding: 10px 20px ;
}

/*-----------------------------------------------------------------------------------------------*/

