


/*-----------------------------------------------------------------------------------------------*/

.footer {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 45px;
}

.footer__content {
    width: 800px;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}


/*-----------------------------------------------------------------------------------------------*/

